:root {
    --animation-curve:cubic-bezier(1,0,0,1);
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'lato', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
}
.navbar {
    padding: 1rem 2rem;
    background-color: rgba(245, 222, 179, 0.336);
}
label {
    width: 1.2rem;
    height: 0.15rem;
    background-color: black;
    position: absolute;
    right: 2rem;
    
}
label::before, label::after {
    content:'' ;
    width: 1.2rem;
    height: 0.15rem;
    background-color: black;
    position: absolute;
    cursor: pointer;
    transition: all 0.6s var(--animation-curve);
}
label::before {
    top:-250%;
    left: 0%;
    transform-origin: left bottom;
}

label::after {
    bottom:-250%;
    left:0%;
    transform-origin: left top;
}
#toggle:checked ~ label::before {
    transform: rotateZ(38deg);
}
#toggle:checked ~ label::after {
    transform: rotateZ(-38deg);

}
#toggle:checked ~ label {
    background-color: transparent;
}
#toggle ~ label {
    transition: all 0.5s var(--animation-curve);
}
#toggle {
    display: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.logo_icon {
    width: 10rem;
    margin-right: 0.9rem; 
}

.navbar .logo span {
    display: flex;
    align-items: center ;
}

.navbar ul li {
    list-style-type: none; 
    display: inline-block;
    margin: 0 2rem;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: black;
   font-weight: bold;
}

.navbar .main_nav li::after {
    content:'';
    height: 3px;
    width:0%;
    background:rgba(165, 42, 42, 0.89);
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    transition: all 0.3s;
}

.navbar ul li .btn {
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 8px 16px;
    background-color: rgba(165, 42, 42, 0.712);
    color: white;
    transition: all .4s;
}
.navbar ul li a, .btn:hover {
    transform: scale(1.1);
}
.navbar .login_smt li a {
    transition: scale 0.1s;
}
.navbar .login_smt li a:hover {
    transform: scale(1.1);
}
.navbar .main_nav li:hover::after{
    width: 100%;
}

.contact_title {
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('media/images/goproperty-bg.webp');
    background-size: cover;
    background-position: center;
    padding: 2rem 2rem;
    color: white;
}

.contact_title h2 {
    padding-bottom: .5rem;
}
.contact_title p {
    font-size: .9rem;
    font-style: italic;
}
.form {
    padding: 3rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

}

input {
    width: 100%;
    height: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
input[type="submit"] {
    width: 25%;
    margin: 1rem 0;
    color: white;
    font-weight: bold;
    background-color: brown;
    border-radius: 6px;
    border-color: transparent;
    box-shadow: 2px 2px 15px grey;
    
}
textarea {
    width: 100%;
    height: 10rem;
    margin-top: .5rem;
}
.form span {
    opacity: 0.5;
}
.cta h3 {
    font-size: 2rem;
    margin-bottom: .7rem;;
}
.cta p {
    opacity: .6;
    
}
.cta_address {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.cta_address li {
    margin: 2rem 0;
    list-style: none;
}
.cta_address h5 {
    font-weight: bold;
    font-size: 1.2rem;
    padding: .3rem 0;
    opacity: .7;
}
.cta_socials h5 {
    font-size: 1rem;
    opacity: .7;
}
.cta_socials ul {
    display: flex;

}
.cta_socials ul li {
    list-style: none;
    margin: .5rem 0;
   
}
.cta_socials ul li a {
    color:black
}
.cta_socials ul li .fa-brands {
    width: 3rem;
}








footer {
    background-color:wheat;
    padding: 1rem 2rem;
   display: flex;
   
  }
  footer .footer_title {
      max-width:40%;
      padding: 0 1rem ;
      font-size: 0.8rem;
  }
  footer .contact {
      padding: 0 2rem;
      font-size: 0.8rem;
      line-height: 1.3rem;
      
  }
  footer img {
      width:10rem;
      height: 2.5rem;
      padding: 0;
  }
  footer ul li {
      list-style: none;
  }
   .fcta .fa-brands{
      color: black;
  }
  .fcta .brands {
      display:flex;
      justify-content: space-between;
      padding: 1rem 0;
  
  }
  .fcta .brands li {
      padding-right: 0.7rem;
      transition: translateY(-1px) .4s ease-in;
  }
  .fcta .brands li:hover {
      transform: translateY(-2px);
  
  }
  footer .contact img {
      width: 0.5rem;
      height: 0.5rem;
      padding-bottom: 3rem;
  }





@media (max-width: 426px){
    .about_content {
        grid-template-columns: 1fr;
  }
  .mission {
    grid-template-columns: 1fr;
}

    .navbar ul { 
        display: none;   
    }
    .list_btn {
        display: none;
    }
    .form {
        padding: 2rem;
        margin: 1rem;
        grid-template-columns: 1fr;
    }
    input {
        margin-top: 1rem;
    }
    input[type="submit"] {
        width: 50%;
    }
    footer {
        padding: 1rem 1rem;
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    footer img { 
        width: 6rem;
        height: 2rem;
        margin-bottom: 2rem;
        margin: 0;
        padding-bottom: .5rem;
    }
    .fcta {
        margin: 1rem ;
        max-width: 60%;
    }
       
    
}
@media (min-width: 427px) {
    .about_content {
        grid-template-columns: 1fr;
  }
  .mission {
    grid-template-columns: 1fr;
}

    .navbar ul { 
        display: none;   
    }
    .list_btn {
        display: none;
    }
    .form {
        padding: 3rem 4rem;
        grid-template-columns: 1fr;
    }
    input[type="submit"] {
        width: 30%;
    }
    footer {
        padding: 1rem 1rem;
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    footer img { 
        width: 6rem;
        height: 2rem;
        margin-bottom: 2rem;
        margin: 0;
        padding-bottom: .5rem;
    }
    .fcta {
        margin: 1rem ;
        max-width: 30%;
    }

}
@media (min-width: 950px) {
    .harmburger_menu {
        display:none;
    }
    .navbar ul { 
        display: block;   
    }
    .list_btn {
        display: block;
}
footer {
    grid-template-columns: 1fr 1fr 1fr;
    
}
.form {
    padding: 3rem 5rem;
    grid-template-columns: 1fr 1fr;
}
input[type="submit"] {
    width: 30%;
}
.fcta {
    margin: 1rem ;
    max-width: 30%;
}
}



